{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead mb-0" style="background-image: url('{{url_for('static', filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{params['blog_name']}}</h1>
            <span class="subheading">{{params['sub_heading']}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Message flashing starts here -->
  {% with messages = get_flashed_messages(with_categories=true)%}
  {% if messages %}
  {% for category, message in messages %}

  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    <!-- <strong>Holy</strong> You should check -->
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  {% endfor %}
  {% endif %}
  {% endwith %}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {% for post in posts %}
        <a href="/post/{{post.slug}}">
       
        <div class="post-preview">
          <a href="/post/{{post.slug}}">
            <h2 class="post-title">{{post.title}}
              Man must explore, and this is exploration at its greatest
            </h2>
            <h3 class="post-subtitle">
              Problems look mighty small from 150 miles up
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Admin</a>
            on {{post.date}}</p>
        </div>
        {{post.postContent[0:150]}}
        <hr>
        </a>
        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{next}}">Newer Posts &rarr;</a>
          <a class="btn btn-primary float-left" href="{{prev}}">&larr; Older Posts </a>          
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
